    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    .title{
        text-align: center;
        transition: .5s;
    }
    .modal{
        width: 400px;
        height: 300px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #f7f7f7f7;
        box-shadow: 5px 5px 15px #0002;
        text-align: center;
        display: none;
    }
    .top_modal{
        width: 500px;
        height: 300px;
        background-color: dodgerblue;
        position: fixed;
        top: -300px;
        left: 50%;
        transform: translateX(-50%);
        transition: 1s;
        opacity: 01;
    }

    .top_modal h1{
        display: flex;
        justify-content: space-between;
    }                        
    .top_modal h1 p {
        position: relative;
        width: 30px;
        height: 30px;
    }
    .top_modal h1 p::before{
        content: "";
        position: absolute;
        top: 50%;
        width: 100%;
        height: 3px;
        background-color: #000;
        transform: rotate(45deg);
    }
    .top_modal h1 p::after{
        content: "";
        position: absolute;
        top: 50%;
        width: 100%;
        height: 3px;
        background-color: #000;
        transform: rotate(-45deg);
    }





    .contact_btn{
        position: fixed;
        bottom: 50px;
        right: 50px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: violet;
    }
    .contact{
        width: 250px;
        height: 350px;
        position: fixed;
        right: -250px;
        bottom: 100px;
        background-color: violet;
        transition: .8s ease-in-out;
    }